:root{
    --primary-color: #c7a17a;
     --background-color: #f9f5f0;
     --dark-color:#151515;

}
html{
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
    background:#f9f5f0;
    
}

.prom0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.prom1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.prom2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.prom3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.problem{
    font-size: 3rem;
    display: grid;
    font-weight: 500;
    flex-direction: column;
    color: blueviolet;
}
.prom{
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
}
.par1{
    color: black;
}
.tab{
    background-color: darkmagenta;
}
.probl{
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
}
.proble li{
    text-align: center;
    font: 100;
}